<!-- views/partials/head.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Catchphrase.ly - Home Page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- jQuery -->
    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <!-- Underscore -->
    <script type="text/javascript" src="/underscore/underscore.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/app.js"></script>
</head>
