<% include partials/head_phrase %>

<% include partials/header %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Deck</h4>
            </div>
            <form id="update-form">
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="deck_">Deck Name</span>
                        <input name="name" type="text" class="form-control" aria-describedby="deck_" id="deck-name">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="isPrivate" type="checkbox" id="isPrivate"> Private
                        </label>
                    </div>
                    <div class="phrase-list-title-outer">
                        <div class="phrase-list-title-inner"><p>Available Phrases</p></div>
                        <div class="spacer"></div>
                        <div class="phrase-list-title-inner"><p>Phrases in Deck</p></div>
                    </div>
                    <div class="phrase-list-outer">
                        <div class="phrase-list-inner">
                            <div class="well well-sm">
                                <ul id="available_phrases" class="list-group">
                                </ul>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="phrase-list-inner">
                            <div class="well well-sm">
                                <ul id="phrases_in_deck" class="list-group">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="text" style="display: none" id="phrases" name="phrases">
                    <input type="hidden" id="id" data-id="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="page-wrapper" class="well">
    <!-- header -->
    <header class="page-header">
        <h1>catchphrasely.herokuapp.com</h1>
    </header>
    <form id="add-form" class="form-inline">
        <div class="input-group">
            <span class="input-group-addon" id="deck_">Deck Name</span>
            <input name="name" type="text" class="form-control" id="new-deck" placeholder="Deck Name" aria-describedby="deck_">
        </div>
        <div class="checkbox">
            <label>
                <input name="isPrivate" type="checkbox"> Private
            </label>
        </div>
        <button type="submit" class="btn btn-default">Add Deck</button>
    </form>
    <br>
    <!-- all phrases! -->
    <ul class="list-group" id="decks-ul">
    </ul>
</div>

<% include partials/footer %>
