<% include partials/head_quiz %>

<% include partials/header %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quiz!!</h4>
            </div>
            <form id="update-form">
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="word_">Word</span>
                    <input name="word" type="text" class="form-control" aria-describedby="word_" id="word">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="definition_">Definition</span>
                    <textarea name="definition" class="form-control" rows="5" aria-describedby="definition_" id="definition"></textarea>
                </div>
                <br>
                <input type="hidden" id="id" data-id="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="page-wrapper" class="well">
    <!-- header -->
    <header class="page-header">
        <h1>CatchPhrase.ly</h1>
    </header>
    <div class="row">
        <div class="col-xs-8">
        <form id="quiz-form">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Choose Deck
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="deck-list">
                </ul>
            </div>
            Quiz Type
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Review
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Self Graded Quiz
              </label>
            </div>
            <div class="radio disabled">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Multiple Choice
              </label>
            </div>
        </form>
        </div>
    </div>
</div>

<% include partials/footer %>
