.edit {
    float: right;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    opacity: .3;
    padding-top: 2px;
    padding-right: 5px;
    margin-right: 10px;
}

.edit:hover {
    opacity: .6;
}

.close {
    font-size: 26px;
    line-height: 0.7;
}

.phrase-list-outer {
    width: 100%;
    margin-bottom: 20px;
}

.phrase-list-inner {
    width: 47.3%;
    display: inline-block;
    vertical-align: top;
    /*height: 300px;*/
    /*overflow-y: scroll;*/
    margin-bottom: 0;
}

.phrase-list-inner .well {
    height: 200px;
    margin-bottom: 0;
}

.phrase-list-inner .well ul {
    height: 180px;
    overflow-y: scroll;
    margin-bottom: 0;
}

.phrase-list-inner .well ul li:hover {
    background-color: #CCCCCC
}

.spacer {
    width: 4%;
    display: inline-block;
}

.phrase-list-title-inner {
    width: 47.3%;
    display: inline-block;
    vertical-align: top;
}

.phrase-list-title-inner p {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
